<h1>List of all Products</h1>


<h1>Listing related Products</h1>

<table>
  <thead>

  </thead>

  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td><%=product.name%></td>
        <td><%= link_to 'Show', category_product_path(@category,product) %></td>

      </tr>
  <% end %>
  </tbody>
</table>




